#image-picker {
    display: none;
}

.editup-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.editup-dp {
}

.editup-dp-holder {
    display: flex;
    align-items: baseline;
    margin: 3vw 0vw 0vw 7vw;
}

.editup-pen {
    background: aliceblue;
    border-radius: 100%;
    padding: 1.5vw;
    box-shadow: 0vw 1vw 3vw 0vw #00000082;
    height: 7vw;
    width: 7vw;
    position: relative;
    left: -14vw;
    top: -2vw;
    cursor: pointer;
}

.editup-crop-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, .2) 61%, var(--bar));
}

.editup-crop-area {
    width: 80vw !important;
    height: 80vw !important;
}

.editup-crop-head{
    position: absolute;
    z-index: 1;
    color: white;
    
    display: flex;
    width: 100vw;
    justify-content: space-between;

    top: 2vh;
    left: 0;
}

.editup-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editup-crop-head-left {
    display: flex;
}

.editup-img-sel {
    width: 70vw;
    background: white;
    padding: 2vw;
    text-align: center;
    box-shadow: -1vw 1vw 1vw #aaa;
    cursor: pointer;
    white-space: pre;
    border-radius: 2vw;
}

.editup-img-sel-cont {
    display: flex;
    width: 100vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}