.header {
    background-color: var(--bar);
    top: 0px;
    left: 0px;
    height: 5.5vh;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header-user-menu {
    background-color: var(--bar);
    height: 94.5vh;
    color: white;
    position: absolute;
    width: 100vw;
    animation: fadein .15s ease-in-out 0s;

    display: flex;
    flex-direction: column;
}

.header-user-profile-header {
    display: flex;
}

#header-menu {
    padding: 2.5%;
    width: 5vw;
}

#header-logo {
    padding: 1.2%;
}

#header-dots {
    padding: 2.2%;
    width: 7.5vw;
}

.header-menu {
    position: absolute;
    top: 0px;
    background-color: var(--surface);
    width: 70vw;
    height: 100vh;
    box-shadow: 1vw 0vw 1vw rgba(128, 128, 128, 0.384);
    transition: transform .3s ease-in-out;
    transform: translateX(-105%);
    z-index: 1000;
}

.header-menu.open {
    transform: translateX(0%);
}

.header-menuglass, .header-contextmenuglass {
    position: absolute;
    background-color: white;
    top: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    opacity: 0.5;
    visibility: visible;
    transition: opacity .3s ease-in-out;
}

.header-contextmenuglass {
    opacity: 0;
}

.header-menuglass.hide {
    opacity: 0;
    visibility: hidden;
}


.header-contextmenu {
    position: absolute;
    z-index: 1000;
    right: 0px;
    background-color: white;
    padding: 2vw;
    border-radius: 0.75vw;
    width: 20vw;
    box-shadow: -1vw 1vw 1vw #11111125;
    margin-right: 1vw;
    margin-top: -1vw;
    transform-origin: 100% 0%;
    transform: scale(0);
    transition: transform .1s ease-in-out;
    opacity: 0.5;
}

.header-contextmenu.open {
    transform: scale(1);
    opacity: 1;
}

.header-menu-cont {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-user-det-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: antiquewhite;
    margin: 2vw;
    border-radius: 1vw;
    box-shadow: 0vw 1vw 0.5vw 0px rgb(0 0 0 / 20%);
    height: 15vw;
}

.header-dp.hide {
    transform: scale(0);
}

.header-dp, .user-profle-dp {
    display: flex;
    background-color: var(--surface);
    border-radius: 100%;
    width: 7vw;
    height: 7vw;
    margin: 1.2vw 2vw 1.2vw 1.2vw;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    color: white;
    border: .2vw solid wheat;
    transition: transform .1s ease-in-out;
}

.header-user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-user-profle-dp {
    width: 20vw;
    height: 20vw;
    font-size: 8vw;
}

.header-user-det-dp-cont {
    display: flex;
    flex: 0 0 30%;
    justify-content: center;
}

.header-user-det-name {
    font-weight: bold;
    margin-bottom: .5vw;;
}

.header-user-det {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-menu-items-cont {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.header-menu-items {
    display: flex;
    flex-direction: column;
}

.header-settings-cont {
    display: flex;
    flex-direction: column;
}

.header-menu-item {
    text-decoration: none;
    color: white;
    font-size: 4vw;
    font-weight: 500;
    padding: 2vw 0vw 2vw 4vw;
    margin-right: 2vw;
    outline: none;
}

.menu-selected {
    color: black;
    background-color: white;
    border-top-right-radius: 4vw;
    border-bottom-right-radius: 4vw;
    color: #333;
}

.menu-items-sep {
    width: 100%;
    border-color: #ffffff31;
}

.signout {
    margin-bottom: 5vh;
}

.header-text {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 6vw;
    color: white;
    font-weight: 500;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}