.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .login-logo {
    width: 60vw;
    height: 60vw;
    margin-top: 15vw;
  }

  .login-title {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 7.5vw;
    color: #555;
    margin-bottom: 15vw;
  }

  .login-timer {
    display: flex;
    width: 80vw;
    flex-direction: row;
    justify-content: center;
    margin: 2vw 0 2vw 0;
  }

  .login-label-1 {
    color: #666;
    font-size: 4vw;
    width: 80vw;
    text-align: center;
    margin-bottom: 3vw;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .login-input {
    width: 74vw;
    height: 10vw;
    margin-bottom: 3vw;
    padding: 1vw 1vw 1vw 5vw;
    border: 1px solid #ccc;
    border-radius: 2vw;
    font-size: 5vw;
  }
  
  .login-send-button {
    width: 80vw;
    height: 10vw;
    background-color: #1976d2;
    color: #fff;
    font-size: 4vw;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
  }
  
  .login-button:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
  }
  