

.form-feild-cont {
    display: flex;
    width: 90vw;
    background: white;
    white-space: pre-wrap;
    border-radius: 1.5vw;
    margin: 2vw 0 2vw 0;
}

.form-feild-marginer {
    display: flex;
    flex-direction: column;
    margin: 4vw;
    align-items: flex-start;
    width: 100%;
}

.form-feild-label {
    font-size: 3.8vw;
    text-align: left;
}

.form-feild-mandatory {
    color: red;
}

.form-feild-input {
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    width: 95%;
    padding: 1vw;
    font-size: 4vw;
    margin-top: 4vw;
    border-bottom: #aaa 2px solid
}

.form-feild-input:focus {
    border-bottom: var(--surface) 2px solid
}

.ffinvalid {
    border: var(--warning) 1px solid;
}

.form-feild-warning {
    color: var(--warning);
    font-size: 3.5vw;
    margin-top: 2vw;
}

.form-radio-cont, .form-checkbox-cont {
    user-select: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    justify-content: flex-start;
    margin: 1vw 0 1vw 0;
}

.form-checkbox-cont {
    align-items: center;
}

.form-radio-circle {
    display: flex;
    border: .5vw solid var(--surface);
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    margin: 0 2vw 0 2vw;
    align-items: center;
    justify-content: center;
}

.form-radio-inner-circle {
    background-color: white;
    height: 50%;
    width: 50%;
    border-radius: 50%;
}

.form-radio-inner-circle-sel {
    background-color: var(--surface);
    height: 50%;
    width: 50%;
    border-radius: 50%;
}

.input-radio, .input-checkbox {
    margin-top: 4vw;
}

.form-checkbox-box {
    color: var(--surface);
    font-weight: 500;
    font-size: 6vw;
    margin: 0 2vw 0 2vw;
}

.form-submit {
    background-color: var(--surface);
    color: white;
    outline: none;
    border: none;
    width: 90vw;
    font-size: 4vw;
    padding: 2vw 0 2vw 0;
    border-radius: 1vw;
    margin: 3vw 0 2vw 0;
}

.form-submit:hover {
    background-color: #5995d2;
}

.form-submit:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.form-section {
    width: 100%;
    display: flex;
    margin: 5vw 0 0 12vw;
    text-transform: uppercase;
    font-weight: bolder;
    color: #666;
    font-size: 3.5vw;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100vw;
    align-items: center;
}

.form-header {
    display: flex;
    background: white;
    width: 90vw;
    flex-direction: column;
    white-space: pre-wrap; 
    margin: 2vw 0 2vw 0;
    border-radius: 1.5vw;
}

.form-title {
    color: #333;
    font-weight: 700;
    font-size: 5vw;
    margin-top: 3vw;
}

.form-description {
    text-align: left;
    color: #333;
    font-size: 3.5vw;
    white-space: pre-wrap;
    margin: 2vw;
}

.form-hr {
    width: 100%;
    height: 0px;
}

.form-submit-error {
    top: 5vh;
}