#buddies-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    max-height: 93vh;
    overflow-y: scroll;
    overflow-x: hidden;

    margin-top: .5vw;
}

.buddy-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 95vw;
    margin: 1vw 0vw 1vw 0vw;
    box-shadow: 0.2vw 0.2vw 0.5vw 0px rgb(0 0 0 / 20%);
}

.buddy-status-color{
    width: .7vw;
}

.buddy-display {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buddy-dp-text {
    display: flex;
    background-color: antiquewhite;
    border-radius: 100%;
    width: 15vw;
    height: 15vw;
    margin: 1.2vw;
    align-items: center;
    justify-content: center;

    font-size: 5vw;
    color: grey;
}

.buddy-det-cont {
    display: flex;
    align-items: center;
}

.buddy-details {
    margin-left: 2vw;
}

.buddy-stats-cont {
    display: flex;
    flex-direction: row;
    width: 94vw;
    justify-content: space-evenly;
    font-style: italic;
    color: grey;
    margin-top: 0.5vw;
    user-select: none;
}

.buddy-stat {
    width: 100%;
    padding: 1vw;
    text-align: center;
    white-space: nowrap;
}

.buddy-stat-odd {
    background-color: aliceblue;
}

.buddy-stat-even {
    background-color: antiquewhite;
}

.buddy-contact-img {
    width: 7.5vw;
    margin: 0 2vw 0 2vw;
}

.buddy-row-1 {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
}

.buddy-details {
    flex: 1;
}

.buddy-wa {
    margin-right: 5vw;
}